# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.log

# Virtual env
.venv/
env/
venv/
ENV/

# Dados locais
data/
exports/
logs/
models/
notebooks/.ipynb_checkpoints/

# Streamlit
.streamlit/cache/
.streamlit/secrets.toml

# IDE / Sistema
.vscode/
.idea/
.DS_Store

# Configurações locais
.env
debug_*.py
pyrightconfig.json
