# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
.env

# Dados e saídas
data/raw/
data/interim/
data/tmp/
logs/
reports/
exports/

# Streamlit
.streamlit/

# IDE / SO
.vscode/
.DS_Store
Thumbs.db
